
.icon-search:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-vcard:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-gauge:before { content: '\e804'; } /* '' */
.icon-art-gallery:before { content: '\e805'; } /* '' */
.icon-book:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\e807'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
